---
layout: base.hbs
styles: 
- /assets/css/art
---

{{{content}}}

<svg class="canvas" viewBox="0 0 2000 1000"></svg>

<div>
  <button class="js-refresh">Refresh</button>
  <button class="js-slideshow">Slideshow</button>
</div>