<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>{{title}}</title>

  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/button.css">

  {% for style in styles %}
    <link rel="stylesheet" href="{{style}}.css">
  {% endfor %}
</head>

<body>
  <header class="container">
    <a href="/">Squiggles and Dots</a>
  </header>
  <main>
    {{content}}
  </main>

  {% for script in scripts %}
    <script src="{{script}}.js" type="module"></script>
  {% endfor %}
</body>

</html>