<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>{{title}}</title>

  <link rel="stylesheet" href="/assets/css/base.css">

  {{#each styles}}
  <link rel="stylesheet" href="{{this}}.css">
  {{/each}}
</head>

<body>
  <header class="container">
    <a href="/">Squiggles and Dots</a>
  </header>
  <main>
    {{{content}}}
  </main>

  {{#each scripts}}
    <script src="{{this}}.js" type="module"></script>
  {{/each}}
</body>

</html>