.details {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
}

.details__preview {
  text-align: center;
}

@media(min-width: 48em) {
  .details {
    grid-template-columns: 1fr 2fr;
  }
}

.bonus-listings {
  background: hsl(0, 0%, 92%);
}

.bonus-listings__inner {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  padding: 1em;
}

.bonus-listings__graphic {
  cursor: pointer;
  transition: opacity 0.05s ease-out;
  opacity: 1;
}

.bonus-listings__loading .bonus-listings__graphic {
  opacity: 0;
}
