.details {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
}

@media(min-width: 48em) {
  .details {
    grid-template-columns: auto min(80vh, 66%);
    grid-template-areas: 
      "description preview"
      ".           controls";
    gap: 1em;
  }

  .details__description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .details__preview {
    grid-area: preview
  }

  .details__controls {
    grid-area: controls;
    display: flex;
    justify-content: center;
  }
}

.bonus-listings {
  background: hsl(0, 0%, 92%);
  position: relative;
}

.bonus-listings__inner {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20em), 1fr));
  padding: 1em;
}

.bonus-listings__graphic {
  cursor: pointer;
  transition: opacity 0.05s ease-out;
  opacity: 1;
}

.bonus-listings__loading .bonus-listings__graphic {
  opacity: 0;
}

.scroll-sentinal {
  position: absolute;
  bottom: 0;
  height: 50vh;
}