.listings {
  list-style: none;
  padding: 0;
}

.listings > * {
  margin-top: 2em;
}

:root {
  --card-radius: 0.2em;
  --card-shadow-color: hsla(0, 0%, 0%, 0.1);
  --card-shadow: 0 1px 1px 1px var(--card-shadow-color);
}

.card {
  box-shadow: var(--card-shadow);
  background: hsl(0, 0%, 100%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: var(--card-radius);
  transition-property: box-shadow, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transform: scale(0.99);
}

.card:hover {
  box-shadow: 0 1px 2px 3px hsla(0, 0%, 0%, 0.1);
  transform: translateY(-2px);
}

.card__graphic-wrapper {
  border-top-left-radius: var(--card-radius);
  border-top-right-radius: var(--card-radius);
  overflow: hidden;
}

.card__primary-action {
  border-top: 1px solid var(--card-shadow-color);
  color: var(--color-interactive);
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
  text-decoration: none;
}

.card__primary-action::before {
  border-radius: var(--card-radius);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.card__primary-action:focus::before {
  box-shadow:0 0 0 0.5em hsla(0, 0%, 0%, 0.1);
}